# Imersao Python

## Uma breve introdução ao Python.

Vamos conhecer todas as estruturas básicas da linguagem. Tudo o que é necessário para escrever programas minimamente úteis.

## Tipos de dados

Vamos dar "olá" para o mundo...

In [3]:
print("Que animal essa semana da Estatística!")

Que animal essa semana da Estatística!

In [4]:
print("Olá Mundo!")

Olá Mundo!

### Como pedir informação para o usuário??

In [10]:
nome = input("Qual o seu nome? ") # Isso recebe uma informação do usuário

Qual o seu nome? Ana

In [12]:
print(nome)

Ana

In [11]:
print("Que legal! Seja bem vindo,", nome)

Que legal! Seja bem vindo, Ana

In [13]:
type(nome)

str

### Toda informação que é requisitada pelo usuário é do tipo STRING

Ou seja, mesmo que o usuário coloque um número, o mesmo é tratado como texto. Assim que desejemos obter a idade do indivíduo, precisamos converter para INTEIRO.

In [16]:
idade = input("Entre com a sua idade: ")

Entre com a sua idade: 28

In [23]:
print(idade)
idade

28

'28'

In [17]:
type(idade)

str

In [19]:
idade_int = int(idade)

In [20]:
type(idade_int)

int

In [21]:
type(idade)

str

In [4]:
idade = input("Qual sua idade? ")
idade = int(idade)

Qual sua idade? 27

In [5]:
type(idade)

int

## Abrindo o capô das Strings

Strings são um conjunto de caracteres, sendo possível navegar por elas, fatiar, remover caracteres, etc...

Strings possuem métodos e atributos, mas o que e isso? Uma pessoa, possui características e ações possíveis de serem executadas.

Exemplo de atributos (características):

- cor do cabelo
- cor dos olhos
- idade
- sexo

Exemplo de métodos (ações):

- Viajar
- Estudar
- Pintar o cabelo

Vamos conferrir isso nas strings?

In [33]:
nome[0] # Posição de número 0 é igual a 1a posição/charactere

'A'

In [34]:
nome[1] # Segunda posição

'n'

In [35]:
nome[2] # Terceira posição

'a'

In [29]:
nome[3]

IndexError: string index out of range

In [44]:
nome = input("Entre com o seu nome: ") # Recebe o nome do usuário

Entre com o seu nome: Teodoro

In [45]:
tamanho = len(nome) # Calcula o tamanho do nome

In [46]:
nome[tamanho-1] # Exibe o último caractere

'o'

In [47]:
nome[-1] # Ultimo caractere

'o'

In [48]:
nome[-2]

'r'

In [62]:
nome[0:3] # Intervalo fechado à esquerda e aberto à direita [,)
# 3 - 0 = 3 -> final - inicio = quantidade

nome[0:3] # nome[ start : stop ]
# stop - start = range

'Teo'

In [65]:
nome[:3] # Isso é a mesma coisa que nome[0:3]

'Teo'

In [66]:
nome[1:] # isso é a mesma coisa que nome[1:len(nome)]

'eodoro'

In [69]:
nome[:]

'Teodoro'

In [71]:
nome[:-1]

'Teodor'

In [72]:
start = 0
stop = 3
nome[start : stop]

'Teo'

In [77]:
# E se quissemos os 4 últimos?
nome[-4:]

'doro'

In [79]:
nome

'Teodoro'

In [96]:
# Start = Início
# Stop = Fim
# Step = Passo

# nome[ start : stop : step ]

nome[::2]

'Tooo'

In [98]:
# E colocar de tras para frente?
nome[::-2]

'oooT'

In [107]:
## String tem métodos?
nome_upper = nome.upper() # Método para caixa alta
nome_upper

'TEODORO'

In [106]:
nome_lower = nome.lower() # Método para caixa baixa
nome_lower

'teodoro'

In [108]:
nome

'Teodoro'

In [110]:
nome = input("Entre com o seu nome: ")
nome_upper = nome.upper() # Método para caixa alta
nome_lower = nome.lower() # Método para caixa baixa

print("Nome original:", nome)
print("Nome caixa alta:", nome_upper)
print("Nome caixa baixa:", nome_lower)

Entre com o seu nome: Teodoro Calvo
Nome original: Teodoro Calvo
Nome caixa alta: TEODORO CALVO
Nome caixa baixa: teodoro calvo

In [115]:
nome.startswith("Teo") # Saber o início da string

True

In [116]:
nome.endswith("Calvo") # Saber o fim da string

True

In [121]:
nome.count("o", 0, 7)

3

In [122]:
nome

'Teodoro Calvo'

In [119]:
nome

'Teodoro Calvo'

In [123]:
nome_pai = "Emanuel"

In [128]:
nome_pai_lower = nome_pai.lower()
nome_pai_lower.count("e")

2

In [130]:
nome_pai.lower().count("e")

2

In [134]:
nome.index("o")

2

In [135]:
nome[2]

'o'

In [141]:
nome = "Téo"
sobrenome = "Calvo"

nome_completo = nome + " " + sobrenome
nome_completo

'Téo Calvo'

## Vamos para os números?

Python pode servir de calculadora, por exemplo somar, dividir, exponenciar, módulo, etc...

Lembrando que temos dois tipos básicos de numéricos: int e float.

Adicionando ainda, os booleanos: True e False

In [145]:
type(1)

int

In [148]:
type(1.)

float

In [149]:
1 + 1 # Soma

2

In [151]:
type(1+1)

int

In [152]:
type(1 + 1.)

float

In [150]:
1 - 1 # Subtração

0

In [158]:
10 / 2

5.0

In [161]:
10 // 3 # Parte inteira da divisão

3

In [163]:
10 % 3 # resto da divisão

1

In [165]:
10 / 3 # Divisão

3.3333333333333335

In [168]:
6 ** 4

1296

In [172]:
4 ** (1/2) # raiz quadrada

2.0

In [7]:
# 1 + 1

# 1 - 1

# 1 / 1

# 1 * 1

# 1 % 1

# 1 ** 1

# True + True

## Tipos iteráveis

Tipos iteráveis são tipos de dados que podemos de alguma forma iterar por eles. Mas o que diabos é iterar? Iterar é a possibilidade de criar iterações (loops) a partir de uma determinada condição lógica ou objeto a ser percorrido (iterado).

Exemplo de iteráveis:

- listas
- tuplas
- dicionários
- range

ps. Strings são iteráveis também.

Vamos começar com listas...

## Listas

Listas são objetos que carregam (apontam) para um conjunto finito de quaiquer outros tipos de objetos. Pense me listas como vagões de trem que carregam uma determinada carga, onde cada um desses vagões pode conter tipos de carga totalmente diferentes. Ou seja, em um vagão pode haver minério, no outro madeira, e no outro conter pessoas.

In [174]:
lista_vazia = []

In [175]:
lista_vazia

[]

In [176]:
minha_lista = ["Téo", "Calvo", 28, "Unesp", "GC"]

In [181]:
minha_lista[0] # Primeiro elemento

'Téo'

In [182]:
minha_lista[-1] # Último elemento

'GC'

In [183]:
minha_lista[:2] # lista de dois elemento

['Téo', 'Calvo']

In [184]:
len(minha_lista)

5

In [186]:
# Qual a primeira letra do meu nome?

nome = minha_lista[0]
nome[0]

'T'

In [188]:
# Qual a primeira letra do meu nome?
minha_lista[0][0]

'T'

In [189]:
minha_lista

['Téo', 'Calvo', 28, 'Unesp', 'GC']

In [191]:
# Qual é a última letra da minha universidade?

minha_lista[-2][-1]

'p'

In [194]:
len(minha_lista)

5

In [197]:
nova_lista = ["Téo",
              "Calvo",
              28,
              "Natalia",
              ["Unesp", "UFPR"],
              ["Tapps", "SAS", "Boti", "Via", "GC"],
             ]

In [196]:
len(nova_lista)

6

In [200]:
nova_lista[-2][0] # Primeira universidade

'Unesp'

In [201]:
nova_lista[-1][0] # Primeira empresa CLT do Téo

'Tapps'

In [203]:
nova_lista[-1][-1] # Última empresa CLT do Téo

# primeiro é 0
# último -1

'GC'

In [205]:
'Téo' == "Téo" == '''Téo''' == """Téo"""

True

In [210]:
x = [10, 20, 1, 2, 5, 10, 21, 23] # Essa é uma lista de inteiros

In [211]:
sum(x) # Função chamada sum()

92

In [214]:
media = sum(x) / len(x)
media

11.5

In [241]:
y = [10., 20, 1, 2., 5, 10, 21, 23]
soma_y = sum(y)
media_y = soma_y / len(y)

print("Média de y:", media_y)

Média de y: 11.5

In [216]:
t = [10, 20, 1, 2, 5, 10, 21, 23, "Téo"]

In [218]:
sum(t[:-1])

92

In [226]:
y.append(-3) # Add um novo elemento ao final da lista

In [230]:
y.sort(reverse=True) # Ordena a lista de valores

In [231]:
y

[25, 25, 23, 21, 20, 10.0, 10, 5, 2.0, 1, -3]

In [234]:
w = x + y # Concatena duas listas e retorna uma nova
w

[10, 20, 1, 2, 5, 10, 21, 23, 25, 25, 23, 21, 20, 10.0, 10, 5, 2.0, 1, -3]

In [237]:
x.extend(y) # Adiciona os valores em de uma lista à outra

In [236]:
x

[10, 20, 1, 2, 5, 10, 21, 23, 25, 25, 23, 21, 20, 10.0, 10, 5, 2.0, 1, -3]

In [242]:
y.extend([1,2])

In [243]:
y

[10.0, 20, 1, 2.0, 5, 10, 21, 23, 1, 2]

In [249]:
y.count(10) # qtde 10`s encontrados

2

In [250]:
y.index(1) # posição do valor 1

2

In [251]:
y.remove(10)

In [244]:
# Append -> Add um único elemento
# Extend -> Concatena uma lista de valores à lista
# operador + -> Concatena duas lista e retorna uma nova

## Tuplas

### Maneira feia de definir tuplas:

Tuplas são listas imutáveis. Mas o que e isso?

In [256]:
x_tuple = (10.0, 20, 1, 2.0, 5, 10, 21, 23, 1, 2) # isso é uma tupla!!

In [257]:
type(x_tuple)

tuple

In [260]:
sum(x_tuple) / len(x_tuple)

9.5

In [265]:
x = [1,2,3,4,5,6,8,9] # Isso é uma lista

In [263]:
x[6] = 7

In [264]:
x

[1, 2, 3, 4, 5, 6, 7, 9]

In [267]:
x_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

In [270]:
x = list(x_tuple)

In [271]:
x

[10.0, 20, 1, 2.0, 5, 10, 21, 23, 1, 2]

In [272]:
x_tuple

(10.0, 20, 1, 2.0, 5, 10, 21, 23, 1, 2)

## Dicionários

Dicionários não estruturas de dados referentes à pares de chave/valor. Isso significa que vc atrela um valor a determinada chave, ao invés de uma posição, como no caso das listas e tuplas. Ressalto que o 'valor' pode ser qualquer tipo de objeto.

In [273]:
dict_vazio = {}

In [274]:
type(dict_vazio)

dict

In [287]:
meus_dados = {
             "chave":"valor",
             "nome":"Téo",
             "sobrenome":"Calvo",
             "idade":28,
             "formacao":["Unesp", "UFPR"],
             "carreira":["Tapps", "SAS", "Boti", "Via", "GC"]}

In [282]:
meus_dados

{'chave': 'valor',
 'nome': 'Téo',
 'sobrenome': 'Calvo',
 'idade': 28,
 'formacao': ['Unesp', 'UFPR'],
 'carreira': ['Tapps', 'SAS', 'Boti', 'Via', 'GC']}

In [285]:
meus_dados["formacao"]

['Unesp', 'UFPR']

In [289]:
meus_dados["esposa"] = "Natalia"

In [290]:
meus_dados

{'chave': 'valor',
 'nome': 'Téo',
 'sobrenome': 'Calvo',
 'idade': 28,
 'formacao': ['Unesp', 'UFPR'],
 'carreira': ['Tapps', 'SAS', 'Boti', 'Via', 'GC'],
 'esposa': 'Natalia'}

In [291]:
# A priemira formação do téo
meus_dados["formacao"][0]

'Unesp'

In [293]:
meus_dados["carreira"][-1] # Emprego atual

'GC'

In [295]:
meus_dados.keys() # Listando todas as chaves do dicionário

dict_keys(['chave', 'nome', 'sobrenome', 'idade', 'formacao', 'carreira', 'esposa'])

In [297]:
meus_dados.values() # Listando todos os valoes do dicionário

dict_values(['valor', 'Téo', 'Calvo', 28, ['Unesp', 'UFPR'], ['Tapps', 'SAS', 'Boti', 'Via', 'GC'], 'Natalia'])

In [298]:
meus_dados.items()

dict_items([('chave', 'valor'), ('nome', 'Téo'), ('sobrenome', 'Calvo'), ('idade', 28), ('formacao', ['Unesp', 'UFPR']), ('carreira', ['Tapps', 'SAS', 'Boti', 'Via', 'GC']), ('esposa', 'Natalia')])

In [302]:
# Motivando a galera a usar dicionarios e listas
import requests
url = "https://api.opendota.com/api/proMatches"
data = requests.get(url).json()

In [308]:
match_0 = data[0]

In [311]:
match_0["match_id"]

6018632383

In [312]:
data[0]

{'match_id': 6018632383,
 'duration': 1548,
 'start_time': 1622380025,
 'radiant_team_id': 8034139,
 'radiant_name': None,
 'dire_team_id': 8188432,
 'dire_name': 'WildWays',
 'leagueid': 12903,
 'league_name': 'YouTube SIVVIT - Big Russian Show',
 'series_id': 565528,
 'series_type': 0,
 'radiant_score': 35,
 'dire_score': 17,
 'radiant_win': True}

## Funções

Funções são nossas amigas para reaproveitar código. Assim, caso tenha algum tipo de execução que seja parecido, não é necessário escrever o mesmo código toda vez.

In [320]:
# f(x) = x**2 + 2 * x + 10

# Definição da função
def funcao(x):
    return x ** 2 + 2 * x + 10

In [319]:
# Uso da função
funcao(10)

130

In [323]:
def corte_letras(nome):
    return nome[:3].upper()

In [324]:
corte_letras("Teodoro Balbino Calvo")

'TEO'

In [328]:
def media(x):
    '''Função para calcular a média de uma lista de valores
    
    x: Vetor com valores'''
    soma = sum(x)
    return soma / len(x)

In [329]:
x = [1,2,3,2,1,3,4,5,6,7]

media(x)

3.4

In [330]:
def soma(a, b):
    return a + b

In [331]:
soma(10,20)

30

In [332]:
def soma(a, b=0):
    '''Função para somar dois valores.
    a: Valor obrigatório a ser passado
    b: Valor opcional. Quando nao passado é igual a 0 (zero)'''
    return a + b

In [335]:
soma(10,10)

20

## Controle de Fluxo

No python é possível alterar a sequencia de leitura das linhas, fazendo uso de 'funções' especiais para tal. Exemplo de operadores que alteram o fluxo de um programa:

- if

- elif

- else

- for

- while

- try

Lembre-se que é obrigatório o uso de identação, 4 espaços são o padrão.

### if, elif e else

Tabelinha verdade, vocês viram em algebra elementar, certo?

Então, verdade verdade => verdade ?

Mesma coisa por aqui:

if verdade => verdade e executamos

else => executamos aqui

In [339]:
False + True + True

2

In [341]:
idade = input("Informe a sua idade: ") # Retorna string
idade = int(idade) # Agora a idade é m número!!

if idade >= 18:
    print("Beba a vontade!")
else:
    print("Você ainda não tem idade para beber. Vá para casa!")

Informe a sua idade: 13
Você ainda não tem idade para beber. Vá para casa!

In [343]:
## Colocamos agora o elif!!!

def coleta_idade(msg="Informe sua idade: "):
    idade = input(msg) # Retorna string
    idade = int(idade) # Agora a idade é m número!!
    return idade

In [347]:
idade = coleta_idade()

if idade < 18:
    print("Você ainda não tem idade para beber! Volte para casa!")

elif idade >= 70:
    print("Beba com moderaçao, você tem idade avançada!")
    
else:
    print("Beba a vontade!")

Informe sua idade: 75
Beba com moderaçao, você tem idade avançada!

In [355]:
num = input("Entre com um número: ")
num = int(num)

resto = num % 2 # Resto da divisão

if resto == 0:
    print("É par!")

else:
    print("É ímpar!")

Entre com um número: 187
É ímpar!

In [361]:
## Loteria da babilonia!! V0

numero_sorte = 7 # Este é o número da sorte da loteria, qm acertar ganha o prêmio!!
numero_jogador = int(input("Entre com seu número: ")) # É o número que o usuário vai chutar

if numero_jogador == numero_sorte:
    print("Você é um ganhador!!")
    
else:
    print("Você é um perdedor! Tente novamente!")

Entre com seu número: 12
Você é um perdedor! Tente novamente!

In [367]:
## Loteria da babilonia!! V1

numero_sorte = 7 # Este é o número da sorte da loteria, qm acertar ganha o prêmio!!
numero_jogador = int(input("Entre com seu número: ")) # É o número que o usuário vai chutar

if numero_jogador == numero_sorte:
    print("Você é um ganhador!!")
    
elif numero_jogador > numero_sorte:
    print("Você é um perdedor! Tente um número menor!")

else:
    print("Você é um perdedor! Tente um número maior!")

Entre com seu número: 4
Você é um perdedor! Tente um número maior!

### Laços de repetição

For percorre um iterável (iterador), ou seja, enquanto o iterador tiver valores para ser iterado, o laço for continua:

In [371]:
x = [1,2,3,4]
for i in x:
    print(i, " - Téo")

1  - Téo
2  - Téo
3  - Téo
4  - Téo

In [374]:
x = [1,2,3,4]

for i in x:
    
    if i % 2 == 0:
        print(i, "é par!")
    
    else:
        print(i, "é impar!")

1 é impar!
2 é par!
3 é impar!
4 é par!

In [378]:
# Números de 1 a 100, verificando pares e ímpares?

for i in range(1,101):
    if i % 2 == 0:
        print(i, "é par!")

2 é par!
4 é par!
6 é par!
8 é par!
10 é par!
12 é par!
14 é par!
16 é par!
18 é par!
20 é par!
22 é par!
24 é par!
26 é par!
28 é par!
30 é par!
32 é par!
34 é par!
36 é par!
38 é par!
40 é par!
42 é par!
44 é par!
46 é par!
48 é par!
50 é par!
52 é par!
54 é par!
56 é par!
58 é par!
60 é par!
62 é par!
64 é par!
66 é par!
68 é par!
70 é par!
72 é par!
74 é par!
76 é par!
78 é par!
80 é par!
82 é par!
84 é par!
86 é par!
88 é par!
90 é par!
92 é par!
94 é par!
96 é par!
98 é par!
100 é par!

In [383]:
nome = "Teodoro Calvo"
for l in nome:
    print(l)

T
e
o
d
o
r
o

C
a
l
v
o

In [13]:
# for i in [1,2,3]

In [382]:
x = [1,2,3,4]
i = 0 # index 0

while i < len(x):
    if x[i] % 2 == 0:
        print(x[i], "é par!")
    
    else:
        print(x[i], "é impar!")
        
    i += 1

1 é impar!
2 é par!
3 é impar!
4 é par!

In [396]:
# loteria da babilonia com loop

numero_sorte = 7 # Este é o número da sorte da loteria, qm acertar ganha o prêmio!!
tentativa = 3

while tentativa > 0:
    
    print("Você tem", tentativa, "tentativas!")
    numero_jogador = int(input("Entre com seu número: ")) # É o número que o usuário vai chutar
    
    if numero_jogador == numero_sorte:
        print("Você é um ganhador!!")
        break # Sai do loop forçadamente!!!

    elif numero_jogador > numero_sorte:
        print("Você é um perdedor! Tente um número menor!")

    else:
        print("Você é um perdedor! Tente um número maior!")
        
    tentativa -= 1 # Remove uma tentativa do player
    
else: # isso só acontece quando acabarem as tentativas
    print("Acabaram suas tentativas!!")

Você tem 3 tentativas!
Entre com seu número: 6
Você é um perdedor! Tente um número maior!
Você tem 2 tentativas!
Entre com seu número: 7
Você é um ganhador!!

## Importação de bibliotecas

É comum fazer uso de código opensource que não vem "empacotado" junto com o python, assim, você pode querer usar pacotes de terceiros como também criar seus próprios módulos e bibliotecas. Para fazer reuso de códigos é necessário importa-los.

In [14]:
# import time
# import random

In [399]:
import math # Isso importa a biblioteca INTEIRA!!

In [398]:
math.factorial(3)

6

In [400]:
from math import factorial # Isso importa apenas um módulo ou função

In [401]:
factorial(3)

6

In [402]:
from math import * # importa tudo da biblioteca, sem precisa do prefix. NÃO É RECOMENDADO

In [406]:
math.pi == pi

True

In [408]:
import time

In [409]:
for i in range(1,10):
    print(i)
    time.sleep(2)

1
2
3
4
5
6
7
8
9

In [410]:
import random

In [432]:
random.randint(1,15)

12

In [433]:
# loteria da babilonia com loop

import random # biblioteca que gera valores aleatórios - pseudoaleatórios

numero_sorte = random.randint(1,15) # valor aleatório entre 1 e 15
tentativa = 3

while tentativa > 0:
    
    print("Você tem", tentativa, "tentativas!")
    numero_jogador = int(input("Entre com seu número: ")) # É o número que o usuário vai chutar
    
    if numero_jogador == numero_sorte:
        print("Você é um ganhador!!")
        break # Sai do loop forçadamente!!!

    elif numero_jogador > numero_sorte:
        print("Você é um perdedor! Tente um número menor!")

    else:
        print("Você é um perdedor! Tente um número maior!")
        
    tentativa -= 1 # Remove uma tentativa do player
    
else: # isso só acontece quando acabarem as tentativas
    print("Acabaram suas tentativas!!")

Você tem 3 tentativas!
Entre com seu número: 7
Você é um perdedor! Tente um número maior!
Você tem 2 tentativas!
Entre com seu número: 10
Você é um ganhador!!